
<mat-toolbar color="primary">
    <button fxShow.gt-xs="false" type="button" aria-label="Toggle sidenav" mat-icon-button 
            style="margin-left:0; margin-right: 10px">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
        <h6 class="example-app-name"></h6>
    </div>
</mat-toolbar>
<div class="page-wrap" fxLayout="row" fxLayoutAlign="center center" fxLayout="column">
</div>