<mat-toolbar color="primary">
    <button fxShow.gt-xs="false" type="button" aria-label="Toggle sidenav" mat-icon-button
            style="margin-left:0; margin-right: 10px">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
        <h6 class="example-app-name"></h6>
    </div>
</mat-toolbar>
<div class="page-wrap">
<mat-tab-group (selectedTabChange)= "getAllocatedDevice($event);">
    <mat-tab  label="Device List">
        <app-list-devices></app-list-devices>
    </mat-tab>

    <mat-tab   label="Allocated Devices">
        <app-allocated-devices></app-allocated-devices>
    </mat-tab>

    <mat-tab label="Available Devices">
        <app-available-devices></app-available-devices>
    </mat-tab>
</mat-tab-group>
</div>

