.page-wrap {
    min-height: 100vh;
  //  background:  url("https://raw.githubusercontent.com/pxblue/login/angular/src/assets/background.png"), linear-gradient(135deg, #127cbf 0%, #094d9c 100%);
    background-size: cover;
    background-repeat: no-repeat;
  //  padding: 10px 0;
}