p {
  font-family: Lato;
}

.example-card {
 // max-width: 300px;
  margin: 4px
}

.example-header-image {
  background-image: url('https://images.macrumors.com/article-new/2017/09/iphonexdesign.jpg');
  background-size: cover;
}